body{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.wrapper{
    display: flex;
    
    
    width: 1366px;
    height: 770px;
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
background-image: url(./Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
width: 1366px;
height: 58px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    position: absolute;
width: 157px;
height: 22px;
left: 79px;
top: 18px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #FFFFFF;

}
.logo-text:hover{
color:#01813F;
transition: color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}
.log_in{
    position: absolute;
width: 108px;
height: 22px;
left: 1111px;
top: 18px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
}
span:hover{ 
color:#01813F;
transition: color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}
.sing_up{
    position: absolute;
width: 68px;
height: 14px;
right: 79px;
top: 22px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

color: #FFFFFF;
}
/* .sing_up_p:hover{
    color:#01813F;
    transition: color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
} */
.header-icon{
display: flex;
justify-content: center;
align-items: center;
margin-left: 633px;
}
/* padding-top: 17px;
} */
.header-icon:hover .vector1{
    background-image: url(./header-icons.png);
    width: 126px;
    height: 24px;
}
.vector1:hover .header-icon{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.header-icon:hover .vector2{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.header-icon:hover .vector3{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.vector1{
    position: absolute;
    height: 24px;
width: 21px;
left: 0px;
top: 0px;
border-radius: 0px;
margin-left: 940px;
margin-top: 17px;
    background-image: url(./Vector.svg);
}
/* .vector1:hover{
   background-image: url(./header-icons.png);
} */
/* .header-icon:hover{
    background-image: url(./header-icons.png);
} */
.vector2{
    position: absolute;
    background-image: url(./Vector2.svg);
    height: 23px;
width: 23px;
left: 0px;
top: 0px;
border-radius: 0px;
margin-left: 988px;
margin-top: 18px;
}
.vector3{
    position: absolute;
    background-image: url(./Vector3.svg);
    height: 23.25px;
width: 23px;
left: 0px;
top: 0.375px;
border-radius: 0px;
margin-left: 1035px;
margin-top: 17px;
}
/* a:hover {
    
    transition: background-image 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
    
} */
.line{
    position: absolute;
width: 1px;
height: 19px;
left: 1083px;
top: 20px;

background: rgba(255, 255, 255, 0.9);
mix-blend-mode: normal;
opacity: 0.5;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
    height: 584px;
    /* flex-direction: column; */
    position: relative;
margin-left: 0px;
margin-top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
margin: 0 auto;
box-sizing: border-box;
}
.form .form-list{
    display: block;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


.list{
    display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
width: 444px;
box-sizing: border-box;
}
.reset{
    position: absolute;
width: 18px;
height: 18px;
left: 0px;
top: 29px;
margin: 0 auto;
background: #3CB878;
}
.registration{
    position: absolute;
    width: 69px;
    height: 14px;
    left: 61px;
    top: 31px;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #434343;
}
.enter{
    position: absolute;
    width: 39px;
    height: 14px;
    left: 346px;
    top: 33px;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    color: #3CB878;
}
.enter:hover{
    color:#01813F;
    text-decoration: underline;
    transition: color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}
.facebook{
    position: absolute;
width: 160px;
height: 48px;
left: 60px;
top: 60px;
background: #305DB8;
}

.logotip{
position: absolute;
left: 16px;
right: 24.04%;
top: 12px;
bottom: 12px;
}
.line_f{
    position: absolute;
width: 1px;
height: 28px;
left: 48px;
top: 10px;
/* color: #0A162F; */
background: #0A162F;
mix-blend-mode: normal;
opacity: 0.1;
}
.button_f{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #305DB8;
    border: #305DB8;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;    
}
.button_f:hover{
    background: #022263;
    border: #022263;
    transition: background-color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
    
}
.button_f:hover .facebook-text{
    color: #FFFFFF;  
}

.facebook-text{
    padding-left: 67px;
}
.google{
    position: absolute;
width: 160px;
height: 48px;
left: 224px;
top: 60px;

}
/* .google:hover{
    background: #AB1F09;
} */
.logotip_google{
    position: absolute;
width: 30px;
height: 19px;
padding-left: 10px;
top: 15px;
}
.line_g{
opacity: 0.1;
position: absolute;
width: 1px;
height: 28px;
left: 49px;
top: 10px;

background: #2B0D09;
mix-blend-mode: normal;
opacity: 0.1;
}
.google-text{
    padding-left: 78px;
}
.button_g{
    position: absolute;
width: 100%;
height: 100%;
background: #DF4A32;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
border: #DF4A32;
}
.button_g:hover{
    background: #AB1F09;
    border: #AB1F09;
    transition: background-color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}
.button_g:hover .google-text{
    color: #FFFFFF;
}
.or{
    position: absolute;
width: 15px;
height: 14px;
left: 215px;
top: 139px;
bottom: 12px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #848484;
}

.write{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 324px;
}
input::placeholder{
    position: absolute;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
display: flex;
align-items: center;
color: #BEBEBE;
}

.name{
    position: relative;
    width: 322px;
    height: 44.08px;
    margin-left: 61px;
    margin-right: 61px;
    top: 164.96px;
    color: #434343;
}
.jason {   
    position: absolute;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
display: flex;
align-items: center;
color: #434343;
}

.last_name{
    position: absolute;
width: 324px;
height: 44px;
margin-left: 61px;
    margin-right: 61px;
top: 225px;

}
.Email{
    position: absolute;
width: 324px;
height: 44px;
top: 284px;
margin-left: 61px;
    margin-right: 61px;

}
.password{
    position: absolute;
width: 324px;
height: 45px;
top: 343px;
margin-right: 61px;
margin-left: 61px;
}
.confirm_password{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

width: 324px;
height: 45px;
margin-right: 61px;
margin-left: 61px;
top: 403px;
}
input{
    width: 100%;
    border: #FFFFFF;
    background: #FFFFFF;
    border-radius: 4px;
    height: 100%;
    color: #BEBEBE;
}
input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: none;
    outline: none;
    color: #434343;
}
.checkbox{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    top: 415px;
    margin: 0 auto;
    width: 100%;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    flex-shrink: 0;
    flex-grow: 0;
    /* border: 1px solid #adb5bd; */
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid #3CB878;
  }
  .custom-checkbox:checked+label::before {
    background: rgba(0, 0, 0, 0.0001);
    border: 0.1em solid #F2F2F2;
    background-image: url(./Vector\ 1.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .custom-checkbox:not(:disabled)+label::before:hover {
    display: inline-block;
    background-image: url(./Vector\ hover.svg);
    position: absolute;
    width: 1.25em;
    height: 1.25em;
border: 2px solid #01813F;
margin-right: 0.5em;
transition: background-color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
  }
/* input[type=checkbox]{
    position: absolute;
    margin-left: 60px;
margin: 0 auto;:not(:checked)

position: absolute;
width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
} */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    /* margin-left: 60px; */
margin: 0 auto;

position: absolute;
width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
  }
.label_checkbox{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}  
.term{

    color: #3CB878;
}
.term:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
    padding-bottom: 3px;
    line-height: 1.27em;
    transition: color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}

.custom-checkbox:focus{
    position: absolute;
    width: 14px;
    height: 13.5px;
    
    border: 2px solid #3CB878;
}

.submit{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
width: 324px;
height: 46px;
margin-left: 60px;
margin-top: 500px;

}
.create{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* left: 99px;
    top: 16px;
     */
     justify-content: center;
     align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    background: rgba(60, 184, 120, 0.8);
    color: #FFFFFF;
    border: rgba(60, 184, 120, 0.8);
}
.create:hover{
    background-color: #01813F;
    transition: background-color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;
}
